extends layout

block content
  h1= title
  p Welcome to #{title}

  :markdown
    [![Build Status](https://travis-ci.org/bcomnes/gitpub.svg?branch=master)](https://travis-ci.org/bcomnes/gitpub)
    [![Dependency Status](https://david-dm.org/bcomnes/gitpub.svg?style)](https://david-dm.org/bcomnes/gitpub)
    [![devDependency Status](https://david-dm.org/bcomnes/gitpub/dev-status.svg)](https://david-dm.org/bcomnes/gitpub#info=devDependencies)
    [![Code Climate](https://codeclimate.com/github/bcomnes/gitpub/badges/gpa.svg)](https://codeclimate.com/github/bcomnes/gitpub)
    [![Test Coverage](https://codeclimate.com/github/bcomnes/gitpub/badges/coverage.svg)](https://codeclimate.com/github/bcomnes/gitpub)

    For mor information please see the [gitpub repository](https://github.com/bcomnes/gitpub).

    - [Micropub Endpoint](/micropub)
    - [Test Form](/post)
