extends layout

block content
  h1= title
  p Welcome to #{title}

  :markdown
    [![Build Status](http://img.shields.io/travis/bcomnes/gitpub.svg?style=flat-square)](https://travis-ci.org/bcomnes/gitpub)
    [![Dependency Status](https://david-dm.org/bcomnes/gitpub.svg?style=flat)](https://david-dm.org/bcomnes/gitpub)
    [![Dev Dependency Status](http://img.shields.io/david/dev/bcomnes/gitpub.svg?style=flat-square)](https://david-dm.org/bcomnes/gitpub)

    For mor information please see the [gitpub rository](https://github.com/bcomnes/gitpub).

    - [Micropub Endpoint](/micropub)
    - [Test Form](/post)