extends layout

block content
  h1= title
  p Welcome to #{title}

  :markdown
    This is a micropub endpoint.  Example clients:

    - [Quill](https://quill.p3k.io)
    - [Ownyourgram](https://ownyourgram.com)
    - [Taproot Notes](http://waterpigs.co.uk/notes/new/)
    - [Taproot Articles](http://waterpigs.co.uk/articles/new/)
    - [Shrewdness](http://indiewebcamp.com/Shrewdness)
