extends layout

block content
  h1= title
  p Welcome to #{title}
  p This form was used for testing.


  form(action="post", method="post")
    p Content
    textarea(type="text", name="content"  cols="20" rows="4" )
    p in-reply-to
      input(type="text", name="in-reply-to")
    p category
      input(type="text", name="category")
    p slug
      input(type="text", name="slug")
    p location
      input(type="text", name="location")
    p token
      input(type="text" name="access_token")
    input(type="submit" name="post" value="Post")
